---
import type { Props } from "@astrojs/starlight/props";
import EditLink from "virtual:starlight/components/EditLink";
import LastUpdated from "virtual:starlight/components/LastUpdated";
import Pagination from "virtual:starlight/components/Pagination";
import config from "virtual:starlight/user-config";
import { Icon } from "@astrojs/starlight/components";
---

<div id="pre-footer" class="sl-flex">
  <div class="meta sl-flex">
    <EditLink {...Astro.props} />
    <LastUpdated {...Astro.props} />
  </div>
  <Pagination {...Astro.props} />
  {
    config.credits && (
      <a class="kudos sl-flex" href="https://starlight.astro.build">
        <Icon name={"starlight"} />{" "}
        {Astro.props.labels["builtWithStarlight.label"]}
      </a>
    )
  }
</div>
<footer
  class="min-h-[var(--sl-nav-height)] border border-solid border-[var(--sl-color-hairline-shade)] color-[var(--sl-color-gray-2)] px-8 py-4 [overflow-wrap:anywhere] w-full absolute left-0 flex flex-wrap items-center gap-6 justify-between bg-[var(--sl-color-gray-6)]"
>
  <p>
    ©2012 Native Hawaiian Education Association | P.O. Box 1190, Wailuku,
    Hawaii 96793
  </p>
  <div>
    <a
      href="https://www.facebook.com/profile.php?id=100067402338557"
      target="_blank"
      class="inline-flex align-middle"
    >
      <Icon
        name={"facebook"}
        size="2rem"
        class="text-[var(--sl-color-text-accent)] cursor-pointer"
      />
    </a>
    <a
      href="https://www.instagram.com/nheahawaii/"
      target="_blank"
      class="inline-flex align-middle ml-2"
    >
      <Icon
        name={"instagram"}
        size="2rem"
        class="text-[var(--sl-color-text-accent)] cursor-pointer"
      />
    </a>
  </div>
</footer>

<style>
  #pre-footer {
    flex-direction: column;
    gap: 1.5rem;
  }
  .meta {
    gap: 0.75rem 3rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    font-size: var(--sl-text-sm);
    color: var(--sl-color-gray-3);
  }
  .meta > :global(p:only-child) {
    margin-inline-start: auto;
  }

  .kudos {
    align-items: center;
    gap: 0.5em;
    margin: 1.5rem auto;
    font-size: var(--sl-text-xs);
    text-decoration: none;
    color: var(--sl-color-gray-3);
  }
  .kudos :global(svg) {
    color: var(--sl-color-orange);
  }
  .kudos:hover {
    color: var(--sl-color-white);
  }
  @media screen and (min-width: 800px) {
    :root {
      --sl-z-index-menu: 0;
    }
  }
</style>
