---
import { Aside } from "@astrojs/starlight/components";
---

<form
  class="[&_label]:block [&_label]:mb-3 [&_input]:rounded-md rounded-lg p-4 border-[1px] border-[var(--sl-color-gray-5)] shadow-md [&_input:not([type='radio'])]:w-full [&_input+span]:ml-2 [&_input]:accent-[var(--sl-color-accent)] [&_input]:border-[1px] [&_input]:border-[var(--sl-color-gray-5)] max-w-[615px] w-full box-border"
>
  <div class="not-content">
    <h3>Registrant Information</h3>
    <p>asterisk (*) means required</p>
    <hr />
    <label>
      First Name*
      <input name="first_name" type="text" required />
    </label>
    <label>
      Last Name*
      <input name="last_name" type="text" required />
    </label>
    <label>
      Email*
      <input name="email" type="email" required />
    </label>
    <label>
      Organization or Affiliation*
      <input name="organization" type="text" required />
    </label>
    <label>
      Position Title*
      <input name="position" type="text" required />
    </label>
    <label>
      City*
      <input name="city" type="text" required />
    </label>
    <label>
      State*
      <input name="state" type="text" required />
    </label>
    <label>
      Zip Code*
      <input name="zip" type="text" required />
    </label>
    <label>
      Phone Number*
      <input name="phone" type="tel" required />
      <p class="text-gray-600 dark:text-gray-400 mt-0">numbers only</p>
    </label>
    <h3 class="mb-2">Payment Method*</h3>
    <p class="text-gray-600 dark:text-gray-400">
      **Only One Purchase Per Person/Email/Submission**<br />
      NHEA Convention Registration is $300<br />
      If paying with Cash, Check, or Purchase Order, direct your payment to:<br
      />
      NHEA<br />
      P.O. Box 1190<br />
      Wailuku, HI 96793
    </p>
    <hr />
    <label>
      <input type="radio" name="payment_method" value="PayPal" />
      <span>PayPal</span>
      <p class="text-gray-600 dark:text-gray-400 mt-1">
        Submit this form and yellow PayPal button will appear below
      </p>
    </label>
    <label>
      <input type="radio" name="payment_method" value="Cash" />
      <span>Cash</span>
      <p class="text-gray-600 dark:text-gray-400 mt-1">
        See above for address or have it ready on day of event
      </p>
    </label>
    <label>
      <input type="radio" name="payment_method" value="Check" />
      <span>Check</span>
      <p class="text-gray-600 dark:text-gray-400 mt-1">
        See above for address or have it ready on day of event
      </p>
    </label>
    <label>
      <input type="radio" name="payment_method" value="Cash" />
      <span>Cash</span>
      <p class="text-gray-600 dark:text-gray-400 mt-1">
        If known, please enter PO No. below; see above for address
      </p>
    </label>
    <label>
      Purchase Order No.
      <input name="purchase_order_no" type="text" />
    </label>
    <button
      type="button"
      class="my-4 py-2 px-5 cursor-pointer rounded-md border-[1px] bg-[hsl(96,100%,92%)] border-[var(--sl-color-text-accent)] text-[#222] hover:bg-[hsl(96,100%,83%)]"
    >
      Submit
    </button>
  </div>
  <blockquote class="py-2 bg-lime-50 text-[#222]">
    Processing. Hold tight...
  </blockquote>
  <p class="text-center">
    <strong>
      If you have any inquiries or requests please email{" "}
      <a href="#">nhea.hawaii@gmail.com</a>.
    </strong>{" "}
    This form is not yet protected by reCAPTCHA and the Google Privacy Policy and
    Terms of Service apply.
  </p>
</form>
