---
import type { Props } from "@astrojs/starlight/props";
---

<div
  role="img"
  aria-label="NHEA Banner"
  class="h-[380px] bg-top bg-[url(src/assets/nhea-cover.jpg)] w-full"
  transition:persist
>
</div>

<h1
  id="_top"
  class="py-6 max-w-[70rem] mx-auto px-[var(--sl-content-pad-x)] font-semibold mt-4 [font-size:var(--sl-text-h1)] leading-[var(--sl-line-height-headings)] text-[var(--sl-color-white)]"
>
  {Astro.props.entry.data.title}
</h1>
