:root {
  --sl-mobile-toc-height: 3rem;
}
.main-frame {
  padding-inline-start: 0;
}
.main-pane {
  width: 100% !important;
}
#starlight__sidebar {
  display: initial;
  visibility: hidden;
}
[aria-expanded="true"] ~ .sidebar-pane {
  visibility: visible !important;
  border-inline-end: 1px solid var(--sl-color-hairline-shade);
}
[aria-expanded="false"] ~ .sidebar-pane {
  visibility: hidden !important;
}
button[aria-label="Menu"] {
  display: flex;
}
div.dropdown {
  width: 100dvw;
}
div.right-sidebar > div.lg\:sl-hidden {
  display: flex;
}
nav:has([aria-expanded="true"]) ~ .main-frame {
  padding-inline-start: var(--sl-content-inline-start);
}
aside.right-sidebar-container {
  width: 0;
}
nav[aria-labelledby="starlight__on-this-page--mobile"] {
  display: flex;
  inset-inline-start: 0;
}
nav:has([aria-expanded="true"])
  ~ .main-frame
  nav[aria-labelledby="starlight__on-this-page--mobile"] {
  display: flex;
  inset-inline-start: var(--sl-content-inline-start, 0);
}
starlight-theme-select {
  margin-right: 1rem;
}
