@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

@layer base {
  :root {
    --sl-font: "Figtree", sans-serif;
    --sl-content-pad-x: 2rem;
    --sl-color-accent-low: #102c00;
    --sl-color-accent: #3b7c00;
    --sl-color-accent-high: #aed69c;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #ecedf5;
    --sl-color-gray-2: #c0c1ca;
    --sl-color-gray-3: #888a9b;
    --sl-color-gray-4: #555766;
    --sl-color-gray-5: #353745;
    --sl-color-gray-6: #242633;
    --sl-color-black: #17181e;
  }
  :root[data-theme="light"] {
    --sl-color-accent-low: #c3e2b6;
    --sl-color-accent: #3e8000;
    --sl-color-accent-high: #193c00;
    --sl-color-white: #17181e;
    --sl-color-gray-1: #242633;
    --sl-color-gray-2: #353745;
    --sl-color-gray-3: #555766;
    --sl-color-gray-4: #888a9b;
    --sl-color-gray-5: #c0c1ca;
    --sl-color-gray-6: #ecedf5;
    --sl-color-gray-7: #f5f6fa;
    --sl-color-black: #ffffff;
  }
  html {
    @apply [overscroll-behavior-y:none];
  }
  body {
    @apply text-[1.05rem];
  }
  hr {
    @apply clear-both pt-4;
  }
  blockquote {
    @apply !border-lime-700 border-s-4;
  }
}
main .sl-container {
  @apply mx-auto max-w-full;
}
main .sl-container > h1#_top {
  @apply text-[var(--sl-color-text-accent)];
}
main .sl-markdown-content {
  @apply min-h-[33dvh];
}
div.content-panel:has(div.sl-markdown-content),
div.hero {
  @apply max-w-[70rem] mx-auto;
}
div.right-sidebar {
  @apply border-s-[1px] border-solid border-[var(--sl-color-gray-6)];
}
.content-panel:first-of-type {
  @apply p-0;
}
.main-frame {
  @apply pt-[calc(var(--sl-nav-height)+var(--sl-mobile-toc-height))];
}
.sl-markdown-content blockquote {
  @apply border-s-[2px] border-[var(--sl-color-text-accent)];
}
